body {
    width: 850px;
    margin: 0 auto;
}

.header {
    display: block;
    height: 550px;
    padding: 0 125px;
    background-image: url(billboard.jpg);
}

.logo {
    display: flex;
}

.logo_center {
    height: 110px;
    justify-content: center;
    align-items: center;
}

.logo__image {
    display: block;
}

.header__title:before {
    display: block;
    content: "";
    width: 600px;
    height: 1px;
    margin-bottom: 70px;
    background-color: gray;
    opacity: 0.3;
}

.header__title {
    margin: 0 100px 50px 0;
    font-family: Raleway;
    color: white;
    text-transform: uppercase;
}

.header__button {
    cursor: pointer;
    padding: 15px 40px;
    color: white;
    background-color: #f5a65b;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Raleway;
}
