body {
    width: 850px;
    margin: auto;
}

.header {
    display: block;
    height: 550px;
    padding-left: 125px;
    padding-right: 125px;
    background-image: url(billboard.jpg);
}

.logo {
    display: flex;
    margin: auto;
}

.logo_center {
    height: 110px;
    justify-content: center;
    align-items: center;
}

.logo__image {
    
}

.logo__image_big {
    
}

.header__title:before {
    display: block;
    content: "";
    width: 600px;
    height: 1px;
    margin-bottom: 70px;
    background-color: gray;
    opacity: 0.3;
}

.header__title {
    margin-top: 0;
    margin-bottom: 50px;
    padding-right: 100px;
    font-family: Raleway;
    color: white;
    text-transform: uppercase;
}

.header__button {
    padding: 15px 40px;
    color: white;
    background-color: #f5a65b;
    text-transform: uppercase;
    font-family: Raleway;
}