body {
    width: 850px;
    margin: auto;  
}

.header {
    display: block;
    height: 550px;
    background-image: url(billboard.jpg);
}

.logo {
    display: flex;
}

.logo_center {
    height: 110px;
    justify-content: center;
    align-items: center; 
}

.logo__image {
    
}

.logo__image_big {
    
}

.header__border {
    margin-left: 15%;
    margin-right: 15%;
    opacity: 0.3;
    border-bottom: 1px solid gray;
}

.header__title {
    margin-top: 8%;
    margin-bottom: 6%;
    margin-left: 15%;
    width: 50%;
    font-family: Raleway;
    color: white;
    text-transform: uppercase;
}

.header__button {
    margin-left: 15%;
    background-color: #f5a65b;
    padding: 15px 40px;
    font-family: Raleway;
    color: white;
    text-transform: uppercase;
}